.formNone {
    display: none;
}

.formFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 1rem 0;
}

.upArrow {
    transform: rotate(180deg);
    transition: all 0.3s linear;
}

.downArrow {
    transform: rotate(0deg);
    transition: all 0.3s linear;
}

.addAssetTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.addAssetContainer {
    background: #f8f8f8;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(150, 150, 150, 0.5);
    padding: 1rem 2rem;
    width: 20rem;
}

.submitButton {
    background: #0086cb;
    color: #e6f5f3;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.4rem 2.8rem;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    color: #696969;
}